body {
    margin: 50px;
}
.main-container {
    background-color: lightgray;
    padding: 20px;
    border: 1px solid rgb(192, 192, 192);
    margin: auto;
    width: fit-content;
}

.main-container div {
    padding-bottom: 10px;
}

.res {
    position: absolute;
    top: 170px;
    /* float: right; */
    left: 950px;
}

.red {
    color: red;
}

.gender {
    display: inline-flex;
}

.btn {
    width: fit-content;
    margin: auto;
}